<% layout("/layouts/boilerplate.ejs") %>

<body>

    <div class="rows mt-3">

        <div class="col-8 offset-3">
            <h3>Listing Details</h3>
        </div>

        <div class="card col-6 offset-3 show-card">
            <img src="<%= listing.image %>" alt="listing_img" class="card-img-top show-img">

            <div class="card-body">
                <p class="card-text">
                    <b> <%= listing.title %> </b> <br>
                    <%= listing.description %> <br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night<br>
                    <%= listing.location %> <br>
                    <%= listing.country %> <br>
                </p>
            </div>
        </div>

        <br>

        <div class="show-btns">

            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>
        
            <form action="/listing/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
    </div>
</body>
